﻿﻿@{
    //Latihan = "_LatihanLayout";
}

<div class="container">
    <button onclick="ChangeColor()"> Ubah Warna</button>&emsp;
    <button onclick="ChangeTextAndFont()">Ubah Text</button>&emsp;
    <button onclick="ChangeBackgroundColorAndText()">Ganti Background and Text</button>&emsp;
    &emsp;
    <div class="row">
        <div class="col" id="tes1">
            <p>Gunung Everest adalah puncak tertinggi di dunia dengan ketinggian mencapai 8.848 meter di atas permukaan laut.
               Terletak di bagian timur pegunungan Himalaya, di perbatasan antara Nepal dan Tibet. Pemandangan di sekitar gunung ini sangat indah dan menakjubkan,
               dengan gletser besar, jurang dalam, dan tebing curam yang menciptakan lanskap yang menantang dan mengagumkan. Gunung Everest menjadi tujuan impian bagi para pendaki gunung dari seluruh dunia, namun,
               pendakian ke puncaknya adalah tantangan yang luar biasa karena kondisi ekstrem dan ketinggiannya yang ekstrim.</p>
        </div>

        <div class="col">
            <div id="tes2">
                <p>Suasana di kota itu sangat ceria saat festival tahunan tiba. Jalanan dipenuhi dengan warna-warni kios dan permainan. Orang-orang berdesak-desakan untuk menikmati berbagai hidangan lezat dan mencoba permainan menarik. Di panggung utama, grup musik lokal menghibur kerumunan yang antusias. Tertawaan dan tawa anak-anak terdengar di setiap sudut saat mereka menikmati kebahagiaan festival.
                    Festival ini menjadi momen istimewa yang menggabungkan semua orang, tanpa memandang perbedaan usia atau latar belakang, dalam perayaan kegembiraan dan persatuan.</p>
            </div>
            <div class="row">
                <div id="tes3">
                    <p>Perubahan iklim adalah isu global yang mendesak dan kompleks yang mempengaruhi seluruh dunia. Naiknya suhu rata-rata bumi, mencairnya es di kutub, dan frekuensi cuaca ekstrem semakin meningkat. Penyebab utama perubahan iklim adalah emisi gas rumah kaca dari aktivitas manusia, seperti pembakaran bahan bakar fosil, deforestasi, dan pertanian intensif. Dampak perubahan iklim sudah terasa, termasuk naiknya permukaan laut, terganggunya ekosistem, dan ancaman terhadap keamanan pangan. Solusi untuk mengatasi perubahan iklim melibatkan langkah-langkah seperti mengurangi emisi gas rumah kaca, beralih ke energi terbarukan, dan melindungi hutan-hutan alami.
                    Upaya kolaboratif dari seluruh negara dan masyarakat diperlukan untuk mengatasi tantangan ini dan menjaga bumi sebagai tempat tinggal yang berkelanjutan untuk generasi mendatang.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
