﻿﻿@{
    ViewData["Title"] = "Latihan Array";
}

<div class="container">
    @*<button onclick="ChangeColor()"> Ubah Warna</button>
    <button onclick="ChangeTextAndFont()">Ubah Text</button>
    <button onclick="ChangeBackgroundColorAndText()">Ganti Background and Text</button>*@
    
    <div class="row">
        <div class="col" id="tes1">
            <h1>List StarWars</h1>

            <ul id="listSW">
                <li></li>
            </ul>
        </div>

        <div class="col">
            <div id="tes2">
                <table>
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Nama</th>
                            <th>Height</th>
                            <th>Gender</th>
                        </tr>
                    </thead>
                    <tbody id="tbodySW"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
