﻿﻿@{
    ViewData["Title"] = "API Modal";
}

<div class="container">
    <div class="pokeball-container">
        <img class="pokeball-image" src="https://cdn.pnghd.pics/data/22/bola-pokemon-png-13.png" alt="Poké Ball">
        <h1>Pokédex</h1>
    </div>
    <table class="pokedex" id="pokedex">
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Number</th>
        </tr>
    </table>
</div>

<div class="modal" id="modal">
    <div class="modal-content">
        <span class="close" id="close">&times;</span>
        <h2 id="modal-name"></h2>
        <img id="modal-image" src="" alt="">
        <p id="modal-number"></p>
        <p id="modal-types"></p>
        <p id="modal-abilities"></p>
        <p id="modal-hp"></p>
        <p id="modal-speed"></p>
    </div>
</div>

