html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin-bottom: 60px;
}

.container {
    text-align: center;
}

.pokeball-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.pokeball-image {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.pokedex {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
}

    .pokedex th, .pokedex td {
        border: 1px solid #ccc;
        padding: 10px;
        text-align: center;
    }

    .pokedex th {
        background-color: #f0f0f0;
    }

.pokemon:hover {
    cursor: pointer;
    background-color: #f0f0f0;
}

/* CSS untuk modal */
.modal {
    max-height: 80vh;
    overflow-y: auto;
}
.pokemon-img {
    width: 250px;
    height: 250px;
}

.pokeball-img {
    width: 100px;
    height: 100px;
}

h1.judul {
    text-align: center;
}

table.table.dataTable {
    margin-left: auto;
    margin-right: auto;
}

div.modal-header {
    background-color: azure;
}


div.modal-footer {
    background-color: azure;
}

div.modal-body {
    background-color: cornsilk;
}

.dataTables_filter, dataTables_length {
    padding-bottom: 10px;
}
.modal-content {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}

.stat-label {
    font-weight: bold;
    margin-right: 5px;
}

.stat-value {
    display: inline-block;
    padding: 2px 6px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
}

.hp {
    background-color: #FF595E;
}

.attack {
    background-color: #FFCA3A;
}

.defense {
    background-color: #8AC926;
}

.special-attack {
    background-color: #1982C4;
}

.special-defense {
    background-color: #6A4C93;
}

.speed {
    background-color: #6A4C93;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}


/*body {
    margin-bottom: 60px;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}*/